$tablet: 744px;
$laptop: 848px;
$laptop-m: 1280px;
$laptop-l: 1696px;
$max-laptop-width: 1648px;
$text-block-separator: ' · ';

$bp-mobile-xs: 480px;
$bp-mobile-sm: 576px;
$bp-tablet-sm: 768px;
$bp-tablet-m: 900px;
$bp-desktop-sm: 992px;
$bp-desktop-m: 1024px;
$bp-desktop-lg: 1100px;
$bp-desktop-xl: 1200px;
$bp-section-sm: 1400px;
$bp-section-m: 1440px;
$bp-section-lg: 1488px;
